
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(1.6rem, 0.9vw + 1.4rem, 1.8rem);

  --color-text: #0b0a0a;
  --color-bg: #f5f0f0;
  --color-border: #ece3df;
}

html {
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  margin: 0;
}

h1 {
  font-size: var(--font-size-xl);
  font-family: 'EB Garamond', serif;
  font-weight: 600;
}

h2 {
  font-size: var(--font-size-lg);
  font-family: 'EB Garamond', serif;
  font-weight: 500;
}

h3 {
  font-size: var(--font-size-lg);
  font-family: 'EB Garamond', serif;
}

main {
  margin: auto;
  padding: 1em;
  max-width: 140ch;
}

@media print {
  body {
    font-size: 0.7rem;
  }
}
