---
import Layout from "../layouts/Layout.astro";
import BlogPosts from "../components/BlogPosts.astro";
---
<Layout
  title="Blog posts"
  description="Blog Posts"
  mainClass="items-top mt-5 min-w-1/2 flex flex-col h-full">
  <h2 class="border-b border-black dark:border-zinc-400 pb-3">All Posts</h2>
  <BlogPosts/>
</Layout>
