---
import { dateToHuman } from '../scripts/date.js';
import { getCollection } from 'astro:content';
export interface Props {
  postsCount?: number;
}

const { postsCount } = Astro.props;
const blogPosts = await getCollection('blog');
const sortedBlogPosts = blogPosts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
const finalBlogPosts = postsCount ? sortedBlogPosts.slice(0, postsCount) : sortedBlogPosts;
---
<ul class="pt-2">
  {finalBlogPosts.map(post =>
    <li class="sm:grid sm:grid-rows-3 sm:grid-flow-col sm:auto-cols-fr pb-4">
      <p class="row-span-3 pt-2 text-zinc-600 dark:text-zinc-400">
        {dateToHuman(post.data.date)}</p>
      <a class="col-span-2" href={`/blog/${post.slug}`}><h3>{post.data.title}</h3></a>
      <p class="row-span-2 col-span-2">{post.data.summary}</p>
    </li>
  )}
</ul>
