---
import Social from './Social.astro';
---
<footer class="flex justify-between border-t border-black dark:border-zinc-400 sm:flex-row py-4">
  <p class="text-sm text-gray-500">
    Personal website of Daniils Kostornijs<br>
    Made with ❤️ using 
    <a class="underline underline-offset-2 font-medium" href="https://astro.build">Astro</a> 
    and 
    <a class="underline underline-offset-2 font-medium" href="https://tailwindcss.com">Tailwind</a>
  </p>
  <div class="flex items-center mt-4 space-x-4 sm:mt-0">
    <Social size="4"/>
  </div>
</footer>
