---
export interface Props {
  props: any;
}

const { props } = Astro.props;
const { Content } = await props.render();
---
<div class="pt-3 pb-10 prose prose-zinc dark:prose-invert">
  <Content/>
</div>
